{% extends 'admin/master.html' %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="mb-5 text-center"> KREIRANJE PROIZVODA</h1>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for('admin.kreiraj_proizvod') }}" method="POST" style="max-width: 35%; margin: 0 auto; min-width: 300px;">
                            {{ form.hidden_tag() }}
                            <div class="form-group">
                            {{ form.naziv.label }} 
                            {{ form.naziv }}
                            </div>

                            <div class="form-group">
                            {{ form.opis.label }} 
                            {{ form.opis }}
                            </div>

                            <div class="form-group">
                            {{ form.img.label }} 
                            {{ form.img }}
                            </div>

                            <button class="btn btn-primary btn-block mt-3 mb-3" type="submit">KREIRAJ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}